/** HELPER TOOL
 * Refer to the Color Picker:
 * http://www.w3schools.com/tags/ref_colorpicker.asp
 * A powerful Photoshop-like CSS gradient editor:
 * http://www.colorzilla.com/gradient-editor/
 * http://www.css3factory.com/linear-gradients/
 */

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: maroon; /* Default bgcolor */
}

h1 { text-shadow: 3px 3px 8px #aaa; }

a {
	text-decoration: none;
	color: #79f;
}

a:hover { color: maroon; }

code {
	font-family: Courier, monospace, serif;
	color: maroon;
}

blockquote {
	margin: 0;
	padding-left: 15px;
	border-left: 4px solid #ccc;
	font-style: italic;
	color: #888;
}

button {
	margin: 0;
	border: 3px groove #888;
	border-radius: 5px;
	background: linear-gradient(#888, #000);
	font-weight: bold;
	color: white;
}

/*
button:hover {
	box-shadow: 0 0 10px #ff5;
}

button:active {
	background: linear-gradient(#000, #888);
}
 */

#new:before {
	content: url(../img/16x16/new.png);
}

#open:before {
	content: url(../img/16x16/open.png);
}

#view:before {
	content: url(../img/16x16/view.png);
}

#save:before {
	content: url(../img/16x16/save.png);
}

#run:before {
	content: url(../img/16x16/run.png);
}

header {
	position: absolute; top: 12px;
	right: 35px;
	color: #ffc;
	font-family:sans-serif;
	font-size: 32px;
	letter-spacing:5px;
/*	text-shadow:5px 3px 10px #000;*/
	-webkit-animation: sweep 1s; /* Safari and Chrome */
}

@keyframes sweep /* Safari and Chrome */
{
	from {right: -200px;}
	to   {right: 35px;}
}
@-webkit-keyframes sweep /* Firefox */
{
	from {right: -200px;}
	to   {right: 35px;}
}

.CodeMirror {
	margin: 0;
	padding: 0;
}

.CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
}

.cm-trailingspace {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
	background-position: bottom left;
	background-repeat: repeat-x;
}
/*
.CodeMirror-selected  { background-color: blue !important; }
.CodeMirror-selectedtext { color: white; }
*/

/* CodeMirror editor z-index:
 * 0 background
 * 1 text
 * 2 gutter
 * 3 line num
 * 4... free
 */
#editor {
	position: absolute;
	top: 64px;
	bottom: 31px;
	left: 0;
	right: 0;
	background: #262626;
}

#output {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 13px;
	padding: 25px;
	position: absolute;
	top: 64px;
	bottom: 27px;
	left: 0;
	right: 0;
	z-index: 5;	/* above editor layers z = 0..3 */
	background: #fff;
	overflow: scroll;
	display: none;
/*	visibility: hidden; hidden on start */
}

#output pre {
	font-family: "Courier", mono;
	font-size: 13px;
	white-space: pre-wrap;
}

/**
 * Drop down area of file to open
 */
footer {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 13px;
	white-space: nowrap;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-top: 7px;
	height: 22px;
	background: maroon;
	font-style: normal;
	font-size: 12px;
	padding-top: 7px;
	border-top: 2px groove #aaa;
	color: #ffc;
	box-shadow: none;
	/* Displayed above '#editor' (z=4) and '#output' (z=5) layers */
	z-index: 6;
}
/* Enlarge effect on drag over */
footer.hover {
	background-color: #888;
	box-shadow: inset 0 3px 10px #000;
	font-size: 16px;
	padding-top: 24px;
	height: 50px;
	-webkit-transition: all 0.2s;
}
/* Adjust footer information text */
footer:before {
	content: 'DROP FILE AREA';
}
footer.hover:before {
	content: 'OPEN FILE ON DROP';
}
footer label {
	color: #ccc;
}

/**
 * List javascript functions
 */
.lnum {
	color:blue;
}
.lnum:hover {
	color:red;
}

/**
 * List functions
 */
table {
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #888;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #ccc;
}

caption {
	caption-side: top;
	padding: 15px;
}

/**
 * Rulers and tabs
 */
#editor .rulers { border-left: 1px dashed #334;}
#editor .cm-tab { border-bottom: 1px solid #337;}
/* RED ARROW - DISCARDED
#editor .cm-tab { border-bottom: 1px solid #337;}
#editor .cm-tab:before {
  content: "➤";
  color: #586e75;
  position:absolute;
}
#editor .cm-tab { 	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAASCAYAAABmQp92AAAAYklEQVQoz2NgGARgDgP3HCDmxKdgHhAvBGJ+XAp6gfg/lC7CpmAaVAEMHwBiRWQF19AUgPA3IA6HKXiPQwGYzYBFEqZgH9h3OBQgvI4k+AGKQ9B9cRCIDwNxGorriQ5J2gMARw9Os5lsuhEAAAAASUVORK5CYII=);
	background-position: left;
	background-repeat: no-repeat;
}
*/

/*
 * ------ ANIMATED -------
 * http://daneden.github.io/animate.css/
 * Only -webkit prefix is necessary
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*
 * Open button fX on Drag & Drop file
 */
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }

  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }

  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

/*
 * Show output page slide fX
 */
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*
 * ANIMATION NOT SUPPORTED
 * BY DEBIAN-7 WITH GNOME3
 */

 /*
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
*/

/*
 * WEBKIT SCROLL BARS
 * Refer to:
 * http://css-tricks.com/custom-scrollbars-in-webkit/
 * http://www.screenfeed.fr/blog/personnaliser-les-scrollbars-webkit-0366/
 */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #aaa;
    -webkit-border-radius: 3px;

}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #aaa;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-corner {	/* invisible window corner */
	background: transparent;
}

/*
 * New file CSS3 drop-down menu
 */
.buttons {
	padding: 7px;
	height: 30px;
	background: maroon;
}

.buttons ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
}

.buttons ul li {
  z-index: 100;
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
/*
 * Online gradient editor at:
 * http://www.colorzilla.com/gradient-editor/
 */
  color: #ffc;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  border: 2px groove #555;

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */

/*
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc032e), color-stop(62%,#8f0222), color-stop(100%,#5e0001));
background: -webkit-linear-gradient(top,  #bc032e 0%,#8f0222 62%,#5e0001 100%);
background: linear-gradient(to bottom,  #bc032e 0%,#8f0222 62%,#5e0001 100%);
*/
}

/*
 * Declare class '.jqhover' on top buttons ':hover' pseudo-class in order to
 * control display state from jQuery code with addClass/removeClass functions.
 * http://stackoverflow.com/questions/12740967/how-do-you-add-pseudo-classes-to-elements-using-jquery
 */
.buttons ul li:hover, .buttons ul li.jqhover {
  background: #ffc;
  color: maroon;
  box-shadow: inset 0 0 12px #555;
}

.buttons ul li ul {
  padding: 0;
  position: absolute;
  top: 52px;
  left: -2px; /* compensate ul li 2px border */
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
/*
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
 */
}

.buttons ul li ul li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
/*
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
 */
}

.buttons ul li ul li:hover {
  background: #888;
  color: #fff;
}

/*
 * Unicode semi-graphic chars table at:
 * http://jrgraphix.net/r/Unicode/2700-27BF
 */
.buttons ul li ul li:hover:after {
  content: ' [✓]';
}

.buttons ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
