<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>nodEdit - Code Editor</title>

<script src="../js/jquery-2.0.3.min.js"></script>

<script src="../cm/lib/codemirror.js"></script>
<script src="../cm/mode/xml/xml.js"></script>
<script src="../cm/mode/javascript/javascript.js"></script>
<script src="../cm/mode/htmlmixed/htmlmixed.js"></script>
<script src="../cm/mode/css/css.js"></script>
<script src="../cm/mode/markdown/markdown.js"></script>
<script src="../cm/mode/shell/shell.js"></script>
<script src="../cm/mode/python/python.js"></script>
<script src="../cm/mode/clike/clike.js"></script>
<script src="../cm/addon/search/searchcursor.js"></script>
<script src="../cm/addon/dialog/dialog.js"></script>
<script src="../cm/addon/search/search.js"></script>
<script src="../cm/addon/selection/mark-selection.js"></script>

<script src="../cm/addon/selection/active-line.js"></script>
<script src="../cm/addon/edit/closebrackets.js"></script>
<script src="../cm/addon/edit/matchbrackets.js"></script>
<script src="../cm/addon/edit/trailingspace.js"></script>

<script src="../cm/linter/jshint.js"></script>
<script src="../cm/linter/jsonlint.js"></script>
<script src="../cm/linter/csslint.js"></script>

<script src="../cm/addon/lint/lint.js"></script>
<script src="../cm/addon/lint/javascript-lint.js"></script>
<script src="../cm/addon/lint/json-lint.js"></script>
<script src="../cm/addon/lint/css-lint.js"></script>
<script src="../cm/addon/edit/closetag.js"></script>

<script src="../cm/addon/hint/show-hint.js"></script>
<script src="../cm/addon/hint/anyword-hint.js"></script>
<script src="../cm/addon/display/rulers.js"></script>
<script src="../cm/addon/comment/comment.js"></script>
<script src="../cm/addon/comment/continuecomment.js"></script>

<script src="../cm/addon/selection/mark-selection.js"></script>
<script src="../cm/addon/emmet/emmet.min.js"></script>
<script src="../js/highlight.pack.js"></script>

<!-- nodEdit Application -->
<script src="../js/editor.js"></script>

<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../cm/lib/codemirror.css">
<link rel="stylesheet" href="../cm/theme/monokai.css">
<link rel="stylesheet" href="../cm/theme/solarized.css">
<link rel="stylesheet" href="../cm/theme/vibrant-ink.css">
<link rel="stylesheet" href="../cm/addon/lint/lint.css">
<link rel="stylesheet" href="../cm/addon/hint/show-hint.css">
<link rel="stylesheet" href="../cm/addon/dialog/dialog.css">
<link rel="stylesheet" href="../css/hljs_solarized_light.css">
</head>

<body>
<!--
Unicode HTML chars tables:
http://unicode-table.com/en/#25B6
http://unicode-table.com/en/#block-elements
http://unicode-table.com/en/#miscellaneous-symbols
Also look Dingbats at:
http://jrgraphix.net/r/Unicode/2700-27BF
-->
<header>&mdash;&nbsp;nodEdit&thinsp;&#10003;&bull;</header>

<!-- COMMANDS -->
<div class="buttons">
<ul><li id="new"> NEW
    <ul>
      <li type="text">Text Plain</li>
      <li type="markdown">Markdown</li>
      <li type="html">HTML</li>
      <li type="javascript">Javascript</li>
      <li type="shell">Shell</li>
      <li type="python">Python</li>
      <li type="c">C Language</li>
      <li type="java">Java</li>
    </ul>
  </li>
  <li id="open"> OPEN</li>
  <li id="save"> SAVE</li>
  <li id="run"> RUN</li>
  <li id="view"> VIEW</li>
</ul>
</div>

<!-- PLACE HOLDER -->
<div id="editor"></div>

<!-- FRONT PAGE -->
<div id="output" class="animated slideInRight">
<h1>nodEdit &mdash; Minimal IDE &#10086;</h1>

<p>2014-04-21</p>

<blockquote>Minimal IDE dedicated to single page application (SPA) development under NodeJS with WebKit.<br>This simple tool implements the read - execute - print - loop (REPL) paradigme using only HTML5, CSS3 and Javascript to develop/debug Shell scripts, NodeJS code or Markdown documentation files.</blockquote>

<h2>Built in keyboard commands</h2>

<p>Extract from <a href="https://github.com/marijnh/CodeMirror/blob/1cbf1f64001b36dc7115f6a36c0f919f59c434fa/lib/codemirror.js#L2880">Source code</a> with additional <strong>nodEdit</strong> specific commands.</p>
<p><strong>WARN:</strong> Note that <code>[Cmd-Q]</code> key press from the Front-Page kills the OS-X process without saving the <strong>lastContext</strong>. Then use preferably the tray-menu <code>Quit</code> command in order to correctly record context for later use &mdash; you may also use Cmd-Q but only from the Editor-Page.</p>

<h3>System commands only available from Front-Page:</h3>

<ul>
<li>&#8220;Ctrl-SPACE&#8221;: &#8220;Recall last context&#8221;,</li>
<li>&#8220;Ctrl-W&#8221;: &#8220;Toggle browser debug window&#8221;,</li>
<li>&#8220;Ctrl-O&#8221;: &#8220;Open file chooser&#8221;,</li>
<li>&#8220;Ctrl-N&#8221;: &#8220;Create a new document&#8221;,</li>
<li>&#8220;Ctrl-L&#8221;: &#8220;Reload browser&#8221;,</li>
</ul>

<h3>General Editor-Page commands:</h3>

<ul>
<li>&#8220;Cmd-C&#8221;: &#8220;Copy&#8221;,</li>
<li>&#8220;Cmd-X&#8221;: &#8220;Cut&#8221;,</li>
<li>&#8220;Cmd-V&#8221;: &#8220;Paste&#8221;,</li>
<li>&#8220;Cmd-A&#8221;: &#8220;selectAll&#8221;,</li>
<li>&#8220;Cmd-D&#8221;: &#8220;deleteLine&#8221;,</li>
<li>&#8220;Cmd-Z&#8221;: &#8220;Undo&#8221;,</li>
<li>&#8220;Shift-Cmd-Z&#8221;: &#8220;Redo&#8221;,</li>
<li>&#8220;Cmd-Y&#8221;: &#8220;Redo&#8221;, (yank)</li>
<li>&#8220;Shift-Cmd-Space&#8221;: &#8220;autocomplete&#8221;, (agnostic)</li>
</ul>

<p>And more...</p>

<p>Refer to the <strong>About</strong> page available from the <em>Tray-Menu</em> for a full list of keyboard shortcuts.</p>

<hr>
</div>

<footer id="holder">
&nbsp;&nbsp;<label>&mdash;&nbsp;&nbsp;Filename: </label><span id="title"></span><label>&nbsp;&nbsp;&mdash;&nbsp;&nbsp;Mode: </label><span id="mode"></span><label>&nbsp;&nbsp;&mdash;&nbsp;&nbsp;Version: 2014-04-21 &copy; HomeLab</label>
</footer>

<input style="display:none;" id="openFile" type="file" />
<input style="display:none;" id="saveFile" type="file" nwsaveas />
</body>
</html>
